<div class="container">
  <div class="ui-g">
    <div class="ui-g-12 ui-fluid">
      <label>Nome</label>
      <input pInputText type="text" name="nome" class="form-control" ngModel #nome="ngModel">
    </div>
    <div class="ui-g-12">
      <button pButton label="Adicionar" (click)="adicionar(nome.value)"></button>
    </div>
    <div class="ui-g-12" style="margin-top: 20px">
      <div class="ui-g-1">
        <label>Código</label>
      </div>
      <div class="ui-g-8">
        <label>Nome</label>
      </div>
    </div>
    <div class="ui-g-12" *ngFor="let cidade of cidades" style="padding: 0">
      <hr>
      <div class="ui-g-1">
        <label>{{cidade.id}}</label>
      </div>
      <div class="ui-g-6 ui-fluid">
        <div class="ui-inputgroup">
          <input pInputText type="text" name="cidade" [(ngModel)]="cidade.nome">
          <button pButton label="Atualizar"  type="button" (click)="atualizar(cidade)"></button>
        </div>
      </div>
      <div class="ui-g-1">
        <button pButton class="ui-button-danger" label="Excluir" (click)="excluir(cidade.nome)"></button>
      </div>
    </div>
  </div>
</div>
